body {
    background-image: linear-gradient(90deg, rgb(168, 218, 238), rgb(94, 186, 240));
}

.titulo {
    font-family: monospace;
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
    width: 35%;
    margin-left: 440px;
}


form label {
    display: block;
    margin-bottom: 2px;
}

.conjunto {
    background-color: rgba(46, 45, 45, 0.7);
    font-family: monospace;
    font-size: 15px;
    width: 230px;
    margin-left: 540px;
    margin-top: 70px;
    padding-left: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;

}


.btn {
    background-color: rgb(29, 28, 28);
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    margin-left: 53px;
    margin-top: 20px;
    padding: 10px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}