.fundo {
    background-image: linear-gradient(90deg, rgb(168, 218, 238), rgb(94, 186, 240));
}

.titulo h1 {
    text-align: center;
    margin-top: 80px;
    font-family: monospace;
    font-size: 38px;
}

.titulo-secundario #sec {
    font-size: 18px;
    margin-top: -25px;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
}


h2 {
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    margin-top: 120px;
}

.opcao-reserva, .opcao-hospede {
    display: inline-block;
    font-family: monospace;
    font-size: 18px;
    margin-top: 25px;
    text-align: center;
    border: black 2px solid;
    padding: 20px;
    border-radius: 25px;
    background-color: rgb(39, 34, 34);
}

.opcao-hospede {
    margin-left: 295px;
}

.opcao-reserva {
    margin-left: 210px;
}

nav a {
    text-decoration: none;
    color: white;
}

.opcao-reserva:hover, .opcao-hospede:hover {
    cursor: pointer;
    background: black;
    transition: 0.5s all;
}